# Database Configuration
DB_HOST=<enter_your_value>
DB_NAME=<enter_your_value>
DB_USER=<enter_your_value>
DB_PASSWORD=<enter_your_value>
DB_PORT=<enter_your_value>

# Server Configuration
SERVER_HOST=0.0.0.0
SERVER_PORT=8000

# PostgreSQL Docker Configuration
POSTGRES_DB=${DB_NAME}
POSTGRES_USER=${DB_USER}
POSTGRES_PASSWORD=${DB_PASSWORD}

# Application settings
MAX_FILE_SIZE_MB=5
ALLOWED_EXTENSIONS=jpg,jpeg,png,gif
UPLOAD_FOLDER=/images
LOG_FILE=../logs/app.log